<!-- First, the content of the edit dialog is defined.                       -->
<script type="text/x-red" data-template-name="schmittTrigger">
  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> rise</label>
    <input type="text" id="node-input-rise" placeholder="Time">
  </div>

  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> fall</label>
    <input type="text" id="node-input-fall" placeholder="Time">
  </div>

  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> reset </label>
    <input type="text" id="node-input-default" placeholder="Time">
  </div>
 
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>
 
<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="schmittTrigger">
    <p>schmittTrigger test</p>
</script>
 
<!-- Finally, the node type is registered along with all of its properties   -->
<script type="text/javascript">
    RED.nodes.registerType('schmittTrigger',{
        category: 'inuit',      // the palette category
        color:"#E6E0F8",
        defaults: {             // defines the editable properties of the node
            name: {value:""},   //  along with default values.
            rise: {value:"40", required:true, validate:RED.validators.number()},
            fall: {value:"10", required:true, validate:RED.validators.number()},
            default : {value:"false",required:true}
        },
        inputs:1,                // set the number of inputs - only 0 or 1
        outputs:1,               // set the number of outputs - 0 to n
        icon: "arrow-in.png",    // set the icon (held in public/icons)
        label: function() {      // sets the default label contents
            return this.name||this.topic||"schmittTrigger";
        },
        labelStyle: function() { // sets the class to apply to the label
            return this.name?"node_label_italic":"";
        }
    });
</script>
