<!-- First, the content of the edit dialog is defined.                       -->
<script type="text/x-red" data-template-name="regulator">
  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> Periode</label>
    <input type="text" id="node-input-periode" placeholder="Time">
  </div>

  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> P</label>
    <input type="text" id="node-input-P" placeholder="Time">
  </div>

  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> I</label>
    <input type="text" id="node-input-I" placeholder="Time">
  </div>

  <div class="form-row">
     <label for="node-input-topic"><i class="icon-tasks"></i> D</label>
    <input type="text" id="node-input-D" placeholder="Time">
  </div>

 
  <div class="form-row">
    <label for="node-input-name"><i class="icon-tag"></i> Name</label>
    <input type="text" id="node-input-name" placeholder="Name">
  </div>
</script>
 
<!-- Next, some simple help text is provided for the node.                   -->
<script type="text/x-red" data-help-name="regulator">
    <p>Introduces a pause into a flow</p>
    <p>Default pause is 5 seconds but can be configured</p>
</script>
 
<!-- Finally, the node type is registered along with all of its properties   -->
<script type="text/javascript">
    RED.nodes.registerType('regulator',{
        category: 'inuit',      // the palette category
        color:"#E6E0F8",
        defaults: {             // defines the editable properties of the node
            name: {value:""},   //  along with default values.
            periode: {value:"0.2", required:true, validate:RED.validators.number()},
            P: {value:"1", required:true, validate:RED.validators.number()},
            I: {value:"0", required:true, validate:RED.validators.number()},
            D: {value:"0", required:true, validate:RED.validators.number()}
        },
        inputs:1,                // set the number of inputs - only 0 or 1
        outputs:1,               // set the number of outputs - 0 to n
        icon: "arrow-in.png",    // set the icon (held in public/icons)
        label: function() {      // sets the default label contents
            return this.name||this.topic||"regulator";
        },
        labelStyle: function() { // sets the class to apply to the label
            return this.name?"node_label_italic":"";
        }
    });
</script>
